@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Righteous');


.logo {
    width: 20%;
    margin: 5px auto;
    display: block;
}

footer {
    background-color:#e59c13;
    color: white;
    position: static;
    width:100%;
    padding: 10px;
    font-size: 20px;  
}


#the-blogs {
    margin-top: 5%;
}

.blog-content {
    background-color: #e0e0e0;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.blog-title {
    color: white;
    font-size: 40px;
    font-family: serif;
    background: #1ac935;
    padding: 10px;
    margin-left: 10px;
    margin-top: 25px;
}

.juice-title{
    color: dodgerblue;
    font-size: 55px;
    font-family: serif;
    background: transparent;
    padding: 10px;
    margin: auto;
    width: 80%;
}

.image-lander {
    width= 90%;
   
}

#Landing-paragraph {
    background-color: #242424;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: bold;
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

.pic-o-m3 {
    width: 10%;
    margin-left: 3%;
}

.orange-top {
    background-color:#e59c13;
    font-size: 15px;
    color: white;
    text-align: left;
    width: 100%;
    padding: 8px;
    font-family: 'Righteous', cursive;
  
}

.ingredients-dude {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.literal-steps-dude {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


.recipe-images {
    float: right;
    width: 300px;
    margin-right: 5%;
}

.recipe-specifics {
    margin-left: 5%;
}

#Decal {
    height: 40%;
    margin: 10px;
    
}

#DecaLL {
    height: 35%;
    margin: 10px;
}

.BACKTOTOP {
    margin: 25px;
}

.inconvienieniene {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ff5757;
    padding: 10px;
    text-decoration: underline;
}


.formx1 {
    font-size: 50px;
    font-family: serif;
    color: black;
    font-weight: bolder;
}
.formx2 {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.navbar {
    margin: 10px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: white;
}

/* Bottom left text for an image*/
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text for an image*/
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text for an image*/
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text for an image*/
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text for an image*/
.centered {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgoption {
    margin-top: 10%;
}

.extrastuff {
    font-size: 20px;
}


/* 

---IMAGES USED---

---Home---
images/Untitled%20drawing.png
images/JuicyJ'sNEWESTLANDINGPAGE.jpg

---Merch---
images/Untitled%20drawing.png
images/Juicy%20J's%20Shirt.jpg
images/Untitled%20drawing.png
images/Juicy J's Protein Packet _0.jpg
images/Smoothie examples.jpg

---Recipes---
images/Untitled%20drawing.png
images/orange-juice-2816863_960_720.jpg
images/peach.juice-yasssssssssss.png
images/strawberrysmoothie.jpg
images/beverage-close-up-cold-1498960.jpg

---Blogs---
images/Untitled%20drawing.png
images/Crawdaddy.png
images/Crawdaddy(2).png
*/

































